*{margin: 0;padding: 0;}
body {font-family: 'Oswald', sans-serif;}



/* div {border: solid 4px black;letter-spacing: 0.2em;display: flex;} */

section div {letter-spacing: 0.2em;display: flex;}

/* Menu */

.disparait {display: none;}

h2 {font-size: clamp (30px, 6vw, 38px);}
h3 {flex-wrap: wrap;}

.topnav {display: none;}



@media screen and (min-width:768px) {
  .navbarlink > a::after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      background: var(--navbar-color);
      transition:width .4s;
  }
  .navbarlink:hover > a::after {
      width: 100%;
  }
}
h1{
  text-decoration: none;
}




@media (max-width: 1050px)
{
*{margin: 0;padding: 0;box-sizing: border-box;}


.disp {display: none;}

#myLinks {display: none;}

.navbarlink, .navbar{display: none;}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(216, 211, 211);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
  }

.topnav {display: block;}

}


h2{
  padding: 50px 10px 10px 10px;
}
ul{
  gap: 45px;
  font-size: 30px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

a, h2, p{
  font-family: 'Oswald', sans-serif;
  color: black;
  text-decoration: none;
}
.flex{
  display: flex;
}
.nav1{
  padding: 50px 50px 78px 10px;
  font-size: 35px;
  line-height: 82px;
  justify-content: space-around;

  }
.head{
  justify-content: space-between;
  width: 100%;

}
.imgb{
  max-width: 100%;
}
.boxx{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.street img{
  width: min(1400px,100%);
  background-repeat: no-repeat;
}
.info {
  display: flex; justify-content: space-around;flex-direction: row;align-items: center;background: black;color: white;font-size: clamp(2px, 3vw, 20px);
}

ul, li {list-style: none;}

.info{
  padding: 50px 50px 50px 50px;
}
li{
  color: white;
}
.info{
  margin-top: 95px;
}


root{
  --font-size:1rem;
}
.light-mode{
  --navbar-color:#222;
  --navbar-bg-color:#F0F0F0;
}
.dark-mode{
  --navbar-color:#FFF;
  --navbar-bg-color:#000;
}


ul{

  list-style: none;
}

body{
  font-size: var(--font-size);
  font-family: 'Oswald', sans-serif;
}
.main-content{
  padding: 1rem;
}

.navbar{border: solid 4px black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 10px;
  color: var(--navbar-color);
  background: var(--navbar-bg-color);
  margin-top: 20px;
  margin-bottom: 50px;
}
.navbarlinks{
  display: flex; align-items: center; width: auto;padding: 0;
}
.navbarlink{
  width: 100%;
}
.navbar__link > a{
  text-decoration: none;
  color: var(--navbar-color);
}

.navbarlink {width: 100%}



.nav1{
display: flex;
    font-size: 40px;
    line-height: 82px;
    justify-content: space-around;}
.head{
    display: flex;
    justify-content: space-between;
    width: 100%;

}



.menu {margin: 28px 97px;min-height: 74px;justify-content: space-around;font-size: 36px;border: solid 4px black;}


/* image de tete */

.tete {width: 100%;min-height: 600px;
        font-size: 90px;color: black;
        display: flex;
        background: url(image-terry/tete.png)no-repeat center / cover;}

.cyka {align-items: center;color: white;width: 100%;font-size: clamp(30px, 20vw, 150px);}
.cykaa {display: none;}




/* 3 carrés */

.box{display: flex;flex-direction: column;text-align: center;  
    margin: 10% 3% 10% 3%; 
    min-width: 90%;
    min-height: 90%;}

.mvs{display: flex;font-size: 48px; gap: 100px;width: 180px;flex-direction: row;height: 67px;align-items: center;font-size: clamp(10px, 3vw, 80px);}
.mvs1 {min-width: 400px;height: 100%;text-align: center;justify-content: space-around;}

.mvsimg {min-height: 30%;min-width: 33%;justify-content: space-between;}



/* 2 carrés */

.rect {height: 400px;width: 100%;display: flex; border: 2px solid red;}
.carré {height: 100%;border: red solid 4px; width: 50%;
            display: flex;align-items: center;font-size: 48px;justify-content: space-around;
            font-size: clamp(15px, 7vw, 48px);color: white;}
        
.paire{background: url(image-terry/paire.png)no-repeat center / cover;}
.nouvautés {background: url(image-terry/collection.png)no-repeat center / cover;}

/* Fin */

.fin {display: flex;justify-content: center;justify-content: space-around;}


/* 3 carrés */

.info {display: flex; justify-content: space-around;flex-direction: row;align-items: center;background: black;color: white;font-size: clamp(2px, 3vw, 20px);}

ul, li {list-style: none;}


@media (max-width: 900px){

    .tetee {width: 100%;min-height: 600px;
        font-size: 90px;color: black;display: flex; align-items: center;
        background: url(image-terry/homme.jpeg)no-repeat center / cover;}

    .cykaa {align-items: center;color: white;width: 100%;font-size: clamp(30px, 20vw, 150px);display: initial;}

    .cyka{display: none;}
    .tete {display: none;}
}

