*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    padding: 50px 10px 10px 10px;
}
ul{
    gap: 45px;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

a, h2, p{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: none;
}
.flex{
    display: flex;
}
.nav1{
    padding: 50px 50px 78px 10px;
    font-size: 35px;
    line-height: 82px;
    justify-content: space-around;
    
    }
.head{
    justify-content: space-between;
    width: 100%;

}
.imgb{
    max-width: 100%;
}
.boxx{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
.street img{
    width: min(1400px,100%);
    background-repeat: no-repeat;
}
.info {
    display: flex; justify-content: space-around;flex-direction: row;align-items: center;background: black;color: white;font-size: clamp(2px, 3vw, 20px);
}

ul, li {list-style: none;}

.info{
    padding: 50px 50px 50px 50px;
}
li{
    color: white;
}
.info{
    margin-top: 95px;
}


 root{
    --font-size:1rem;
}
.light-mode{
    --navbar-color:#222;
    --navbar-bg-color:#F0F0F0;
}
.dark-mode{
    --navbar-color:#FFF;
    --navbar-bg-color:#000;
}


ul{
    
    list-style: none;
}

body{
    font-size: var(--font-size);
    font-family: 'Oswald', sans-serif;
}
.main-content{
    padding: 1rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    color: var(--navbar-color);
    background: var(--navbar-bg-color);
    margin-top: 20px;
    margin-bottom: 50px;
}
.navbarlinks{

    display: flex;
}
.navbarlink{
    padding: 0 10px;
}
.navbar__link > a{
    text-decoration: none;
    color: var(--navbar-color);
}



@media screen and (min-width:768px) {
    .navbarlink > a::after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: var(--navbar-color);
        transition:width .4s;
    }
    .navbarlink:hover > a::after {
        width: 100%;
    }
}
h1{
    text-decoration: none;
}





