*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
      font-family:  'Oswald', sans-serif;
      color:  #000000;
}
.flex{
    display: flex;
}
h1{
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    margin-bottom: 22px;
}
.icone{
    /* border: 2px solid red; */
    justify-content: space-between;
    flex-direction: row;
    min-height: 126px;
    width: 100%;
    margin-bottom: 77px;
} 
.icone img{
    margin: 10px 30px;
}
header{
    /* border: 2px solid red; */
    min-height: 127px;
    background: #cfcdcd;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 77px;
}
header a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size:clamp(20px,4vw,40px);
}
.box1 h3:hover{
    color: gray;
}
.nav{
    margin-left: 15px;
    font-size: 20px;
    line-height: 59px;
    color: #939393;
    text-align: left;
    margin-bottom: 75px;
}
.catégorie{
    /* border: 2px solid red; */
    min-height:  87px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.catégorie h3{
    font-weight: 400;
     font-size: 25px;
}
 h2{
    font-weight: 400;
    font-size:clamp(20px ,5vw,35px);
    padding-left: 32px;

}
.filtre{
    /* border: 2px solid red; */
    width: min(569px,90%);
    margin-right: 37px;
    justify-content: space-between;
    align-items: center;
}

.container{
    /* border: 2px solid green; */
    gap: 165px;
    flex-direction: column;
    margin-bottom: 204px;
}
.container img{
     width: 100%;
}
.box1{
    /* border: 2px solid black; */
    min-height: 797px;
    gap: 20px;
    
}
.box2{
    /* border: 2px solid blue;  */
    width: min(444px,90%);
    min-height: 779px;
    gap: 5px;
    flex-direction: column;
    flex-wrap: wrap;
}
.modif{
    gap: 21px;
}
.box1 h3{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
.box1 p{
    font-weight: 400;
    font-size: 36px;
    padding-left: 85px;

}

.info{
    /* border: 2px solid red; */
    min-height: 410px;
    background: #000000;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.info div {
    color: #FFFEFE;
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
}
.boite1{
    /* border: 2px solid red; */
    width: min(347px,90%);
    min-height: 188px;
    

}
.boite2{
    /* border: 2px solid red; */
    width: min(256px,100%);
    min-height: 329px;
}
.boite3{
    /* border: 2px solid red; */
    width:min(273px,100%); 
    min-height: 235px;
}
.info ul li{
        list-style: none;
}

@media(max-width:600px){
    .box1{
        flex-direction: column;
    }
        
    .box2{
        width: 100%;
        padding: 0;
    }
    .catégorie{
        gap: 20px;
    }
    .info{
        flex-direction: column;
        gap: 20px;
    }
    
    
.icone img{
    width: 10%;
}
}


    

